__pycache__
.mypy_cache
.venv

# Ignore datasets
dataset
defects/dataset

# Ignore all .pt files except trained weights
*.pt
!runs/**/weights/*.pt
!yolo11n.pt

# Ignore specific runs subfolders but keep weights
runs/detect/**/labels/
runs/detect/**/labels.cache
runs/defects/**/labels/
runs/defects/**/labels.cache

build